<template>
  <div id="app">
    <div class="header">
      <h1>Technical Excellence: blog</h1>
    </div>
    <Blog />
    <div class="footer">
      <StatusPing />
    </div>
  </div>
</template>

<script>
import Blog from "./components/Blog.vue";
import StatusPing from "@/components/StatusPing";

export default {
  name: "App",
  components: {
    Blog,
    StatusPing,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.footer {
  clear: both;
  position: relative;
  height: 200px;
}
</style>
