<template>
  <div class="blog">
    <PostList />
    <button type="button" @click="isCreatePost = !isCreatePost">
      Создать пост
    </button>
    <CreatePost
      v-if="isCreatePost"
      @post-created="onPostCreated"/>
  </div>
</template>

<script>
import PostList from "./PostList";
import CreatePost from "./CreatePost";

export default {
  name: "Blog",
  components: {
    PostList,
    CreatePost,
  },
  props: {
    msg: String,
  },
  data: () => ({
    isCreatePost: false
  }),
  methods : {
    onPostCreated() {
      this.isCreatePost = false;
    }
  }
};
</script>

<style scoped>
.blog {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin: 0 auto;
}
</style>
