<template>
  <div>status: {{ status }}</div>
</template>

<script>
import client from "@/api/client";

export default {
  name: "StatusPing",
  async mounted() {
    this.status = await client.getStatus();
  },
  data() {
    return {
      status: "loading...",
    };
  },
};
</script>

<style />
